#category-post1 {
}
.post-category {
    margin: 0 auto;
    padding: 15px;
}
.post-body {
    float: left;
    height: 179px;
    list-style: none outside none;
    margin: 0 5px 17px 0;
    padding: 5px;
    width: 144px;
}
.post-img {
    border: 1px solid #E6E6E6;
    height: 124px;
    padding: 4px;
    width: 200px;
}
.post-thumb{

}
.post-thumb:hover{
    opacity: 0.8;
}
.out-post-title {
    max-height: 38px;
    overflow: hidden;
    text-align: center;
}
.post-title {
    color: #0000A7;
    font: 12px/10px Arial;
}
.post-title.hover{
    color: #ff0060;
    font: bold 12px/10px Arial;
}
.post-views {
    color: #FF0000;
    font-size: 10px;
    text-align: center;
}



#latest-new-video{
    text-align: center;
}
#new-video{
    background-image: url("../../1.bp.blogspot.com/-dWXXNl7aAx8/U1inQ6hLgiI/AAAAAAAAE-g/ZSAWIiik0W4/s000/movies-head.png");
    height: 84px;
}
#index-category1 {
    background-image: url("../../3.bp.blogspot.com/-BLu1yCJGRJo/U1uxkxhB0PI/AAAAAAAAFEo/EiBpF8D5A6s/s1600/music.png");
    height: 65px;
    margin-top: -33px;
    width: 323px;
}
#index-category2 {
    background-image: url("../../3.bp.blogspot.com/-Xhr45g5pY5s/U1vsjXM2qxI/AAAAAAAAFE4/0GBGgjiqqi8/s1600/videos.png");
    height: 65px;
    margin-top: -33px;
    width: 323px;
}
#index-category3{
    background-image: url("../../1.bp.blogspot.com/-znf1lMnHcz8/U1v_SpwSrFI/AAAAAAAAFFI/CuFsZl8yLcY/s000/men.png");
    height: 110px;
}
#index-category4{
    background-image: url("../../1.bp.blogspot.com/-Np2lD_-lNhg/U1zjb_hYaAI/AAAAAAAAFGo/OtP2NmVoPes/s1600/women.png");
    height: 110px;
}




#menu2{
    
}
#menu2 .menu-secondary ul{
    float: left;
    list-style: none;
}




.footer_banner {
    border-bottom: 1px solid #888888;
    border-top: 1px solid #888888;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 2px;
    text-align: center;
}


#menu2 ul li{
    padding: 10px
}

/*search*/
#search-box {
position: relative;
width: 100%;
margin: 0;
}
 
#search-form
{
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}
#search-text
{
font-size: 14px;
color: #ddd;
border-width: 0;
background: transparent;
}
 
#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}
 
#search-button {
position: absolute;
top: 0;
right: 0;
height: 42px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color: #4d90fe;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}



.mms-show{width:100%;}
.list-tube {  
    width: 100%;
    margin-top: -4px;
}
.list-tube:nth-child(2n) {
    margin-right: 0;
	
}
.list-tube:nth-child(2n+1) {
    display:none;
	
}

#playerVdo {
    width: 100%;
}
.frame {
    background: none repeat scroll 0 0 #000000;
    height: 256px;
    overflow: hidden;
    position: relative;
    width: 96.%;
    z-index: 0;
}
.frame .slidee {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    padding: 10px 15px;
}
.frame ul.items {
    font-size: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.frame ul.items li {
    background: none repeat scroll 0 0 #2b2b2b;
    border-bottom: 1px solid #1d1d1d;
    border-left: 5px solid transparent;
    border-top: 1px solid #393939;
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    text-shadow: 1px 2px 2px #000000;
    width: 100%;
}
.frame ul.items li:hover{background: #2d1152}
.frame ul.items li.active {
    background: none repeat scroll 0 0 #878787;
    border-left-color: #d51c18;
    color: #fff;
}
.list-tube .scrollbar {
    background: none repeat scroll 0 0 #000;
    float: right;
    height: 256px;
    line-height: 0;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 26px;
    z-index: 2;
}
.list-tube .scrollbar .handle {
    background: #ff0000;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    height: 100px;
    margin-left: 5px;
    width: 56%;
}
.list-tube .scrollbar .handle .mousearea {
    height: 100%;
    left: -10px;
    position: absolute;
    top: 0;
    width: 22px;
}
.list-tube .pages {
    list-style: none outside none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.list-tube .pages li {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 4px;
    overflow: hidden;
    text-indent: -999px;
    width: 14px;
}
.list-tube .pages li:hover {
    background: none repeat scroll 0 0 rgb(170, 170, 170);
}
.list-tube .pages li.active {
    background: none repeat scroll 0 0 rgb(102, 102, 102);
}
.list-tube .controls {
    background: none repeat scroll 0 0 #444;
    border: 1px solid #636363;
    text-align: center;
}
.list-tube .controls p {
    margin: 0px;
    padding: 0;
}
.list-tube button i {
    font-size: 10px;
}
.list-tube button {
    color: rgb(0, 0, 0);
    opacity: 0.9;
}
.list-tube button:hover {
    opacity: 1;
}
.list-tube button:disabled {
    opacity: 0.2;
}
.list-tube .controls {
    text-align: center;
	background: none repeat scroll 0 0 #444;
    border: 1px solid #636363;
}
.list-tube .controls .divider {
    display: inline-block;
    margin: 0 10px;
}
.list-tube .controls button {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    margin: 2px;
    vertical-align: middle;
}
.list-tube .controls button i {
    font-size: 11px;
    vertical-align: middle;
}
.list-tube .controls button i.sma {
    font-size: 22px;
}
.list-tube .items li a {
    color: #FEFEFE;
    display: block;
    height: 50px;
    padding: 0;
    text-decoration: none;
    text-align: left;
}
.frame ul.items li.active a{
	background: #878787;
}
.list-tube .items li .thunalltube{
	float: left;
    height: 45px;
    margin-right: 10px;
    width: 70px;
}
.list-tube .items li img {
    background: none repeat scroll 0 0 #000000;
	margin-right:10px;
    border: none;
    float: left;
    height: 43px;
    width: 50px;
}
.list-tube .items li b {
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.list-tube .items li span {
    display: block;
    font-size: 12px;
    line-height: 100%;
    margin: 0;
    opacity: 0.7;
    padding: 0;
}
.btn-group{margin: 0 20px;}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
	border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 0;
    padding: 4px 12px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #F5F5F5;
    color: #333333;
}
.btn:first-child {
}
.btn:hover {
    color: #333333;
    text-decoration: none;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active, .btn-group.open .btn {
    border-bottom-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-width: 2px;
    box-shadow: 0 60px 0 rgba(0, 0, 0, 0.1) inset;
    outline: 0 none;
    top: 1px;
}
.btn.disabled, .btn[disabled] {
    background-image: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    font-size: 17.5px;
    padding: 11px 19px;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 4px;
}
.btn-small {
    font-size: 11.9px;
    padding: 2px 10px;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    margin-top: 0;
}
.btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 10.5px;
    padding: 0 6px;
}
.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + .btn-block {
    margin-top: 5px;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-primary {
    background-color: #6B9FD6;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #6190C2;
    color: #FFFFFF;
}
.btn-info {
    background-color: #47ABDD;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #1695D1;
    color: #FFFFFF;
}
.btn-warning {
    background-color: #EFCD76;
    color: #5F4912;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #E9BB44;
}
.btn-danger {
    background-color: #DA4F49;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #BD362F;
    color: #FFFFFF;
}
.btn-success {
    background-color: #82BF4C;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #5BB75B;
    color: #FFFFFF;
}
.btn-inverse {
    background-color: #3A3C47;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #494C59;
    color: #FFFFFF;
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.btn-large, input.btn.btn-large[type="submit"] {
}
button.btn.btn-small, input.btn.btn-small[type="submit"] {
}
button.btn.btn-mini, input.btn.btn-mini[type="submit"] {
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
}
.btn-link {
    border-color: transparent;
    color: #0088CC;
    cursor: pointer;
}
.btn-link:hover {
    background-color: transparent;
    color: #005580;
    text-decoration: underline;
}
.controls p {padding:0px;}
